# .gitignore

# -------------
# general
# -------------

# ignore all files starting with underscore
_*

data/clean/*.RDS
data/ipums/*.dta
estimates/*.csv
!/scripts/stan/mrp.stan
scripts/stan/*
tables/*.tex
figures/*.pdf
docs/*.pdf

# -------------
# TeX
# -------------
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fff
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*..synctex.gz
*.toc
*.ttt

# -------------
# R
# -------------
*.Rhistory
*.Rproj

# -------------
# compiled
# -------------
*.o

# -------------
# MacOS
# -------------
*.DS_Store